.container {
    display: flex;
    gap: 10px;
    flex-flow: column nowrap;
    height: 500px;
    border: 1px solid;
    justify-content: center;
    align-items: center;
}

.item {
    font-size: 2.5rem;
    padding: 10px;
    color: white;
    text-align: center;
}

.item1 {
    width: 400px;
    background-color: darkcyan;
}

.item2 {
    background-color: darkgreen;
}

.item3 {
    width: 500px;
    background-color: darkgrey;
}