body {
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

.header {
    display: flex;
    background-color: black;
    height: 80px;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 80px;
}

.text-content {
    display: flex;
    gap: 20px;
}

#checkbox {
    display: none;
}

.ham {
    display: none;
}

@media screen and (max-width : 580px) {
    .text-content {
        display: none;
    }

    .ham {
        display: block;
    }
}