body {
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    background-color: #203040;
    color: #fff;
    padding: 10px;
    font-size: 1.8rem;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width : 430px) {
    .about {
        display: none;
    }

    .container> :nth-child(3) {
        display: none;
    }
}